@model Last_Project.ProductsTable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProductsTable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Product_Name)

        @Html.HiddenFor(model => model.Product_Description)

        @Html.HiddenFor(model => model.Minimum_Bid_Amount)

        @Html.HiddenFor(model => model.Auction_Time)

        @Html.HiddenFor(model => model.Category)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
